@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    margin: 0px;
    padding: 0%;
}

.background-image {
    background: linear-gradient(rgb(12 12 12 / 90%), rgb(0 0 0 / 90%)) center center / cover no-repeat, url(../Asset/images/background-image.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    background-size: cover;
    height: 1300px;
    position: absolute;
}


.nav-item {
    padding: 0px 10px;
}

.nav-link {

    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #828A89;
}

.notification-box {
    width: 45px;
    height: 45px;
    background: #EF423B;
    border: 1.5px solid rgba(255, 255, 255, 0.5);
    border-radius: 8px;
    margin-left: 10px;
}

.notification-box img {
    width: 25px;
    height: 25px;
    margin-left: 10px;
    margin-top: 8px;
}

.input-box {
    position: relative;
}

.input-box i {
    position: absolute;
    right: 13px;
    top: 15px;
    color: #ced4da;

}

.form-control {
    height: 45px;
    background: #FFFFFF;
    border: 1.5px solid #E1E1E1;
    border-radius: 8px;

}

.form-control:focus {
    box-shadow: none;
    background: #FFFFFF;
    border: 1.5px solid #E1E1E1;
    border-radius: 8px;
}



.box {
    margin: 2rem 7rem;
    height: 1100px;
    background: #FFFFFF;
    box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.1);
    border-radius: 18px;
}

.progress-bar-parent {
    width: 100%;
    /* height: 82px; */
    background: #FFFFFF;
    box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
}

.progress {
    height: 5px;
    margin: 10px 20px;
}

.progress-bar {
    background: #EF423B;
    border-radius: 2px;
    width: 50%;
    height: 5px;
}

.profile-text-score {

    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    text-transform: capitalize;
    color: #000000;
    margin-left: 20px;
    margin-top: 17px;
}

.profile-subnumber {
    color: red;

    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
}

.box-f1 {
    padding: 15px 0px 1px 18px;
    background: #FFFFFF;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.15);
    border-radius: 12px;
}

.box-f2 {
    /* padding: 15px 0px 1px 18px; */
    background: #FFFFFF;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.15);
    border-radius: 12px;
}

.user-profile-image {
    border-radius: 100px;
    width: 36px;
    height: 36px;
    background: #FFFFFF;
    border: 2px solid rgba(121, 127, 133, 0.5);
}


.plus-circle-box {
    border-radius: 100px;
    padding: 1px 3px;
    border: 1.5px solid #FFFFFF;
    font-size: 14px;
}

.box-right-heading-added {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    color: #FFFFFF;
    padding-left: 14px;
    padding-right: 14px;
    line-height: 20px;
    background: #EF423B;
    box-shadow: 0px 5px 50px rgba(0, 0, 0, 0.12);
    border-radius: 6px 0px 0px 6px;
    border: none;
}

.box-history-card {
    padding: 15px;
    background-image: url("../Asset/images/image\ 2.png");
    background-color: #cccccc;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.15);
    border-radius: 12px;
}

.heart-box {
    float: right;
    width: 36px;
    height: 36px;
    background: #FFFFFF;
    border-radius: 6px;
    margin: 10px 25px;
}

.heart-box img {
    width: 18px;
    margin: 9px;
}

.image-above-card {
    width: 100%;
    background: #FFFFFF;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.15);
    border-radius: 12px;
    margin-top: 150px;
    display: inline-block;
    padding: 20px;
}

.text-fd-heading {

    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    color: #050305;
    max-width: 100%;
}

.text-fd-subtittle {

    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 120%;
    color: #797F85;
}

.name-one {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #050305;
}

.name-one-subtittle {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 120%;
    color: #797F85;
}

.text-bio-heading {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 132%;
    color: #797F85;
    position: relative;
    top: 5px;
}

.text-bio-subtittle {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    color: #050305;
    position: relative;
    bottom: 7px;
}

.right-button-box {
    border-radius: 5px 5px 5px 5px;
    line-height: 32px;
    padding: 0px 10px;
    margin: 0px 15px;
    background: #EF423B;
    box-shadow: 0px 5px 50px rgba(0, 0, 0, 0.12);
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    border: none;
    color: #FFFFFF;


}

.text-bio-heading-thread {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 132%;
    color: #797F85;
    position: relative;
    top: 5px;
}

.sent-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    color: #FFFFFF;
    position: relative;
    top: 6px;
}

.sent-icon {
    position: relative;
    top: 6px;
}

.bi-dot1 {
    width: 3px;
    height: 3px;
    background: #47A11D;
    border-radius: 10px;
}

.text-bio-subtittle-thread {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    color: #050305;
    position: relative;
    bottom: 7px;
}

.text-bio-subtittle-second {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;


    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    color: #050305;
    position: relative;
    bottom: 7px;

}

.text-bio-heading-second {

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 132%;
    color: #797F85;
    position: relative;
    position: relative;
    top: 5px;
}

.box-f3 {
    padding: 15px;
    background-image: url("../Asset/images/image5.png");
    background-color: #cccccc;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.15);
    border-radius: 12px;
}

.box-f4 {
    padding: 15px;
    background-image: url("../Asset/images/image\ 1.png");
    background-color: #cccccc;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.15);
    border-radius: 12px;
}

.box-f5 {
    padding: 15px;
    background-image: url("../Asset/images/image\ 3.png");
    background-color: #cccccc;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.15);
    border-radius: 12px;
}

.box-f6 {
    padding: 15px;
    background-image: url("../Asset/images/image6.png");
    background-color: #cccccc;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.15);
    border-radius: 12px;

}

.box-f7 {
    padding: 15px;
    background-image: url("../Asset/images/image\ 4.png");
    background-color: #cccccc;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.15);
    border-radius: 12px;
}

.box-right-heading-added-text {
    margin-top: 8px;
}


.content-fixed {
    margin-top: 4rem;
}

.header-mobile {
    display: none;
}

.Family-details-text {
    display: none;
}

.mobile-view-card {
    display: none;
}

.bottom-section {
    display: none;
}

/* this is start media queries */

@media only screen and (max-width: 1440px) {
    .background-image {
        height: 1200px;
    }

    .box {
        height: 178vh;
    }


    .border-end {
        height: 45px;
    }
}


@media only screen and (max-width: 1024px) {

    .background-image {
        height: 1027px;
    }

    .box {
        height: 174vh;
    }

    .name-one {
        font-size: 14px;
    }

    .name-one-subtittle {
        font-size: 11px;
    }

    .box-right-card {
        padding-left: 20px;
        padding-right: 14px;
        line-height: 20px;
        margin-top: 0px;
        margin-right: 8px;
        margin-bottom: 30px;
    }



    .box-f5 {
        height: 218px;
    }

    .box-f6 {
        height: 218px;
    }

    .box-f7 {
        height: 218px;
    }

    .border-end {
        height: 45px;
    }
}

@media only screen and (max-width: 955px) {
    .background-image {
        height: 1464px;
        ;
        margin: 0px;
    }

    .box {
        height: 1364px;
    }

    .box-f5 {
        height: 395px;
        border-radius: 12px;
    }
}


@media only screen and (max-width: 768px) {
    .box {
        height: 1364px;
        margin: 2rem;
        padding: 0px;
    }

    .name-one {
        font-size: 12px;
    }

}

@media only screen and (max-width: 765px) {
    .background-image {
        height: 833px;
    }

    .box {
        height: 2740px;
    }


    .box-f5 {
        border-radius: 12px;
    }

    .box-f6 {
        border-radius: 12px;
    }

    .box-f7 {
        border-radius: 12px;
    }
}


@media only screen and (max-width: 425px) {
    .name-one {
        font-size: 14px;
    }

    .text-bio-heading {
        font-size: 11px;
    }

    .text-bio-subtittle {
        font-size: 14px;
    }

    .text-bio-heading-second {
        font-size: 11px;
    }

    .text-bio-subtittle-second {
        font-size: 14px;
    }

    .text-bio-heading-thread {
        font-size: 11px;
    }

    .text-bio-subtittle-thread {
        font-size: 14px;
    }

    .card-parent-box {
        margin-bottom: 20%;
    }

    .footer-box {
        padding: 0px 10px;
        isolation: isolate;
        width: 100%;
        left: 0px;
        top: 739px;
        background: #FFFFFF;
        box-shadow: 0px -4px 10px rgba(0, 0, 0, 0.1);
        border-radius: 30px 30px 0px 0px;
    }

    .search-item-footer {
        padding: 24px;
        width: 70px;
        height: 70px;
        background: #EF423B;
        border-radius: 50px;
        box-shadow: 5px 10px red;
        box-shadow: 0px 0px 0px 8px #dfdede, 0px 0px 0px 16px rgb(255, 255, 255);
    }

    .footer-item {
        text-decoration: none;
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 14px;
        text-align: center;
        color: #797F85;

    }


    .header-hide-mobile-view {
        display: none;
    }

    .content-fixed {
        margin-top: 0rem;
    }

    .item-footer {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 14px;
        text-align: center;
        color: #797F85;
        margin-top: 5px;
    }

    .search-bottom {
        padding: 30px;
        width: 84px;
        height: 84px;
        background: #EF423B;
        border-radius: 50px;
    }

    .mobile-bottom-nav {
        display: flex;
    }

    .mobile-bottom-nav__item {
        padding: 20px 25px;
    }

    .mobile-bottom-nav__item--active {
        color: red;
    }

    .mobile-bottom-nav__item-content {
        display: flex;
        flex-direction: column;
    }

    .plus-circle-box {
        bottom: -14px;
    }

    .user-profile-image {
        height: 29px;
        margin-left: 7px;
    }

    .bottom-section {
        display: block;
    }

    .bottom-last-section-box {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        padding: 0px 10px;
        gap: 115px;
        isolation: isolate;
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 1000;

        background: #FFFFFF;
        box-shadow: 0px -4px 10px rgba(0, 0, 0, 0.1);
        padding: 10px;
    }

    .bottom-home {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 14px;
        text-align: center;
        color: #EF423B;
        margin-top: 5px;
    }

    .tab-bar {
        width: 134px;
        height: 5px;
        background: #050305;
        border-radius: 100px;
        margin-left: 140px;
    }

    .profile-image {
        background-repeat: no-repeat;
        background-position: center;
        overflow: hidden;
        background-size: cover;
    }

    .box-f1 {
        padding: 0px;
    }

    .family-detail-card-manage-text {
        padding-top: 10px;
    }

    .profile-card {
        width: 90%;
        margin: 0px;
        padding-top: 15px;
    }

    .family-details-card {
        width: 90%;
    }

    .text-fd-heading-first {
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 19px;
        display: flex;
        align-items: center;
        color: #050305;
    }

    .text-fd-subtittle-first {

        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 120%;
        color: #797F85;
    }

    .family-details-second-text {
        display: none;
    }

    .heading-name {
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 19px;
        display: flex;
        align-items: center;
        color: #050305;
        max-width: 100%;
    }

    .subtittle-name {

        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 132%;
        color: #797F85;
    }

    .heading-LP-text {
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 19px;
        display: flex;
        align-items: center;
        color: #050305;
        max-width: 100%;
    }

    .subheading-LP-text {

        font-style: normal;
        font-weight: 500;
        font-size: 13px;
        line-height: 16px;
        color: #EF423B;
    }

    .mobile-view-card {
        display: block;
    }

    .box-right-heading-added {
        margin-bottom: 50px;
    }

    .box-right-heading-added-text {
        width: 60px;
        line-height: 31px;
        margin-top: 3px;
    }

    .Family-details-text {
        display: block;
        margin-left: 15px;
    }

    .text-fd-heading {
        font-size: 14px;
    }

    .text-fd-subtittle {
        font-size: 12px;

    }

    .card-box {
        display: flex;
        overflow-x: auto;
        flex-wrap: nowrap;
        padding: 10px 0px;
        background: white;
        scrollbar-width: none;
    }


    .background-image {
        background-color: white;
    }

    .box {
        height: 833px;
        width: 100%;
        margin: 0px;
        padding: 0px;
        border: none;
        border-radius: initial;
    }


    .header-time {

        font-style: normal;
        font-weight: 600;
        font-size: 15px;
        color: #050305;
        padding: 1em 2rem;
    }

    .header-mobile {
        display: flex;
    }

    .header-right-icon {
        padding: 1em;
        margin-left: 1.5rem;
    }

    .header-right-icon img {
        margin: 4px;
    }

    .notification-mobile-box {
        display: flex;
        width: 30px;
        height: 30px;
        background: #EF423B;
        border: 1px solid rgba(255, 255, 255, 0.5);
        border-radius: 8px;
        margin-left: 5rem;
    }

    .notification-mobile-box img {
        width: 18px;
        height: 18px;
        margin: 1px;
    }

    .header-name {

        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 150%;
        text-transform: capitalize;
        color: #050305;
        padding-left: 2rem;
    }

    .profile-text-score {
        font-size: 14px;
    }

    .profile-subnumber {
        font-size: 14px;
    }

    .progress-bar-parent {
        border-radius: 10px;
        padding-bottom: 10px;
    }

    /* .footer-button {
        margin-top: 10px;
    } */

    .search-tab-icon {
        margin-left: 1rem !important;
    }

    /* button .footer-item-f:active {
        color: #EF423B;
    } */

    /* .footer-button img:hover {
        background-image: url("../Asset/images/heart.png");
        width: 20px;
        height: 20px;
        background: #df1a66;
        transition: all 100ms cubic-bezier(0.61, 0.01, 0.43, 0.99);
    } */

    .footer-button a:hover {
        color: #EF423B;
    }

    .parent-name-bio {
        margin: 30px 0px 0px 0px;
    }

}

@media screen and (max-width: 375px) {
    .parent-name-bio {
        margin: 23px 0px 0px 0px;
    }

    .box-f1 {
        height: 100px;
    }

    /* 
    .footer-button {
        margin-top: 5px;
    } */

    .search-tab-icon {
        margin: 0px;
        padding: 0px;
    }

    .search-item-footer {
        padding: 20px;
        width: 65px;
        margin-left: 0.5em;
        height: 65px;
        background: #EF423B;
        border-radius: 50px;
    }

    .notification-mobile-box {
        margin-left: 4rem;
    }

    .Family-details-text {
        display: block;
        margin-left: 20px;
    }

    .box-right-heading-added {
        margin-bottom: 82px;
    }

    .header-right-icon {
        margin-left: 0.4rem;
    }

    /* .footer-item {
        right: 8px
    } */

    /* .footer-item-f {
        right: 15px;
    } */

}

@media screen and (max-width: 320px) {
    .parent-name-bio {
        margin: 15px 10px 0px 0px;
    }

    /* .footer-button img {
        margin: 0px 0px 0px -7px;
    } */

    .footer-item {
        font-size: 10px;
    }

    .search-item-footer {
        padding: 15px;
        width: 55px;
        height: 55px;
        background: #EF423B;
        border-radius: 50px;
    }

    /* .footer-item {
        right: 10px;
        font-size: 10px;
        top: 4px;
    } */

    .header-right-icon {
        margin-left: 0.2rem;
    }

    .header-right-icon {
        padding: 1rem .3rem;
    }

    .notification-mobile-box {
        margin-left: 3rem;
    }

    .box-right-heading-added {
        height: 40px;
        padding: 0px 8px;
    }

    .box-right-heading-added-text {
        width: 60px;
        line-height: 31px;
        margin-top: 6px;
    }

    .text-bio-heading {
        font-size: 12px;
    }

    .text-bio-subtittle {
        font-size: 14px;
    }

    .text-bio-heading-second {
        font-size: 12px;
    }

    .text-bio-subtittle-second {
        font-size: 14px;
    }

    .text-bio-heading-thread {
        font-size: 12px;
    }

    .text-bio-subtittle-thread {
        font-size: 14px;
    }

    .heading-name {
        margin-left: 10px;
    }

    .subtittle-name {
        margin-left: 10px;
    }
}